<div class="container_converter">
  <div>
    <button class="btn btn-primary" (click)="switchCurrencies()">
      <img class="swap_image" src="./assets/swap.svg" width="25" height="25" alt="1">
    </button>
  </div>
  <nav class="mb-4">
    <div class="form-group">
      <label for="fromCurrency">Из:</label>
      <select id="fromCurrency" class="form-control" (change)="handleFirstCurrChange($event)" [(ngModel)]="firstCurrency">
        <option *ngFor="let currency of currencies" [value]="currency">{{currency}}</option>
      </select>
    </div>
    <div class="form-group">
      <label for="toCurrency">В:</label>
      <select id="toCurrency" class="form-control" (change)="handleSecondCurrChange($event)" [(ngModel)]="secondCurrency">
        <option *ngFor="let currency of currencies" [value]="currency">{{currency}}</option>
      </select>
    </div>
  </nav>
  <footer>
    <div class="form-group">
      <label for="amount1">Сумма:</label>
      <input type="number" id="amount1" class="form-control" (input)="handleFirstInput($event)" [(ngModel)]="defaultMoney" />
    </div>
    <div class="form-group">
      <label for="amount">Сумма:</label>
      <input type="number" id="amount" class="form-control" (input)="handleSecondInput($event)" [(ngModel)]="defaultMoneyOut" />
    </div>
  </footer>
</div>
